/dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
worker/
node_modules/
.vscode
.cargo-ok
.bloop
.metals
.bsp
.wrangler
/index.js
/index.js.map
/index-fast.js
/index-fast.js.map
/target/
/project/target/
/project/project
/project/metals.sbt
/project/project/target/
